
<div class="group bg-white border border-gray-200 rounded-xl shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden">
    <div [routerLink]="['/details' , oneProduct._id]" class="cursor-pointer">

        <!-- Image -->
        <a class="block overflow-hidden">
            <img
            class="p-8 rounded-t-lg transition-transform duration-500 group-hover:scale-110"
            [src]="oneProduct.imageCover"
            alt="product image" />
        </a>

        <div class="px-5 pb-5">

            <a>
                <!-- Category -->
                <h5 class="text-sm font-semibold tracking-tight text-green-600">
                    {{oneProduct.category.name}}
                </h5>

                <!-- Title -->
                <h2 class="text-xl font-semibold tracking-tight text-black line-clamp-1 transition-colors duration-300 group-hover:text-green-600">
                    {{oneProduct.title}}
                </h2>
            </a>

            <div class="flex items-center justify-between">

                <!-- Price -->
                <span class="text-2xl font-bold text-green-600">
                    {{oneProduct.price}} EGP
                </span>

                <!-- Rating -->
                <div class="flex items-center mt-2.5 mb-5">

                    <div class="flex items-center space-x-1 rtl:space-x-reverse">

                        <svg class="w-4 h-4 text-yellow-400" fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                        </svg>

                    </div>

                    <span class="font-light text-lg text-gray-400 ml-1">
                        {{oneProduct.ratingsAverage}}
                    </span>

                </div>

            </div>
        </div>

    </div>

    <!-- Button -->
    <div class="px-4 pb-4">

        <button
        class="cursor-pointer text-white translate-y-6 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300 w-full bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Add to cart
        </button>

    </div>

</div>
