<div class="title-container">

  <h2 class="super-title">
    Categories
    <span class="spark s1"></span>
    <span class="spark s2"></span>
    <span class="spark s3"></span>
  </h2>

</div>

<div class="container mx-auto px-4 my-3">

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-6">
    @for (item of allCategories(); track item._id) {

    <div
      class="group bg-white border border-gray-200 rounded-xl shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden">

      <div class="cursor-pointer flex flex-col h-full" [routerLink]="['/spec-cat' , item._id]">

        <!-- Image -->
        <div class="h-40 flex items-center justify-center bg-gray-50 overflow-hidden">
          <img class="max-h-full max-w-full object-contain transition-transform duration-500 group-hover:scale-110"
            [src]="item.image" [alt]="item.name" />
        </div>

        <!-- Content -->
        <div class="px-5 py-4 flex flex-col flex-grow">

          <!-- Category -->
          <h5 class="text-sm font-semibold tracking-tight text-green-600 text-center mb-3">
            {{item.name}}
          </h5>

          <!-- Button -->
          <button
            class="mt-auto cursor-pointer text-white translate-y-6 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-300 w-full bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            View Details
          </button>

        </div>

      </div>

    </div>
    }
  </div>

</div>


