<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="/images/slider-image-1.jpeg" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img src="/images/slider-image-2.jpeg" alt="">
  </ng-template>
  <ng-template carouselSlide>
    <img src="/images/slider-image-3.jpeg" alt="">
  </ng-template>
</owl-carousel-o>
<div>Some tags after</div> -->


<div class="slider-wrapper flex">
  <!-- Carousel -->
  <div class="carousel-container flex-1">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <img src="/images/img1.avif" alt="" class="carousel-img">
      </ng-template>
      <ng-template carouselSlide>
        <img src="/images/img2.avif" alt="" class="carousel-img">
      </ng-template>
      <ng-template carouselSlide>
        <img src="/images/img3.avif" alt="" class="carousel-img">
      </ng-template>
      <ng-template carouselSlide>
        <img src="/images/img4.avif" alt="" class="carousel-img">
      </ng-template>
      <ng-template carouselSlide>
        <img src="/images/img5.avif" alt="" class="carousel-img">
      </ng-template>
      <ng-template carouselSlide>
        <img src="/images/img6.avif" alt="" class="carousel-img">
      </ng-template>
      <ng-template carouselSlide>
        <img src="/images/img7.avif" alt="" class="carousel-img">
      </ng-template>
    </owl-carousel-o>
  </div>

